<robot name="converted_robot">
  <link name="base_link">
    <visual>
      <geometry>
        <mesh filename="model://acds_quad_base/meshes/CAD/base_link.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
  </link>
  <link name="legs">
    <visual>
      <geometry>
        <mesh filename="model://acds_quad_base/meshes/CAD/legs.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
  </link>
  <link name="raspi_btm">
    <visual>
      <geometry>
        <mesh filename="model://acds_quad_base/meshes/CAD/raspi_btm.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
  </link>
  <link name="raspi_top">
    <visual>
      <geometry>
        <mesh filename="model://acds_quad_base/meshes/CAD/raspi_top.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
  </link>
  <link name="rotor_0">
    <visual>
      <geometry>
        <mesh filename="model://acds_quad_base/meshes/CAD/Propeller_CCW.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
  </link>
  <link name="rotor_1">
    <visual>
      <geometry>
        <mesh filename="model://acds_quad_base/meshes/CAD/Propeller_CCW.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
  </link>
  <link name="rotor_2">
    <visual>
      <geometry>
        <mesh filename="model://acds_quad_base/meshes/CAD/Propeller_CCW.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
  </link>
  <link name="rotor_3">
    <visual>
      <geometry>
        <mesh filename="model://acds_quad_base/meshes/CAD/Propeller_CCW.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
  </link>
</robot>
