<?xml version="1.0" ?>
<robot name='acds_quad_base'>
    <link name='base_link'>
      <collision>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <mesh filename="base_link.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
      <visual name='base_link_visual'>
        <origin rpy="90 0 0" xyz="0 0 0"/>
        <geometry>
          <mesh filename="base_link.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </visual>
    </link>
</robot>
